# PostgreSQL
POSTGRES_DB=userdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME

# Kafka
KAFKA_PORT=9092
ZOOKEEPER_PORT=2181

# Keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME
KC_REALM_NAME=myapp-realm

# User Service
USER_SERVICE_PORT=8081

# Frontend
FRONTEND_PORT=4200

# Spring Boot (pour les autres membres)
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/userdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=CHANGE_ME
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/myapp-realm
KEYCLOAK_JWK_SET_URI=http://localhost:8080/realms/myapp-realm/protocol/openid-connect/certs

# Groq AI (get your key at console.groq.com)
GROQ_API_KEY=your-groq-key-here

# Community Service DB
DB_PASSWORD=0000
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=myapp-realm
